[Unit]
Description=AQDC to get cwa data
After=network.target

[Service]
ExecStart=/home/pi/Github/AQDC/.venv/bin/python -u readWeb.py
WorkingDirectory=/home/pi/Github/AQDC
StandardOutput=inherit
StandardError=inherit
Restart=always
User=pi

[Install]
WantedBy=multi-user.target
