[Unit]
Description=AQDC get data from Arduino
After=network.target

[Service]
ExecStart=/home/pi/Github/AQDC/.venv/bin/python -u readSensor.py
WorkingDirectory=/home/pi/Github/AQDC
StandardError=inherit
Restart=always
User=pi

[Install]
WantedBy=multi-user.target
