[Unit]
Description=AQDC to get cwb data
After=network.target

[Service]
ExecStart=/usr/bin/python3 -u cwb_read.py
WorkingDirectory=/home/pi/AQDC
StandardOutput=inherit
StandardError=inherit
Restart=always
User=pi

[Install]
WantedBy=multi-user.target
