[Unit]
Description=Get air quality data from web
After=network.target

[Service]
ExecStart=/usr/bin/python3 -u readWeb.py
WorkingDirectory=/home/pi/AQDC
StandardOutput=inherit
StandardError=inherit
Restart=always
User=pi

[Install]
WantedBy=multi-user.target
