[Unit]
Description=AQDC actor control program
After=network.target

[Service]
ExecStart=/home/pi/Github/AQDC/.venv/bin/python -u actor.py
WorkingDirectory=/home/pi/Github/AQDC
StandardError=inherit
Restart=always
User=pi

[Install]
WantedBy=multi-user.target
