[Unit]
Description=My service
After=network.target

[Service]
ExecStart=/usr/bin/python3 -u cwb_read.py &
WorkingDirectory=/home/pi/AQDC/service
StandardOutput=inherit
StandardError=inherit
Restart=always
User=pi

[Install]
WantedBy=multi-user.target
